/* Smartphones */
.players-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.first-team {
	background-color: rgba(0, 150, 255, 0.4);
}

.second-team {
	background-color: rgba(200, 0, 0, 0.4);
}

.players-title {
	font-size: xx-large;
	font-weight: 600;
	text-align: center;
}

.players {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	row-gap: 1px;
}

.player {
	font-size: 20px;
	font-weight: 700;
	padding: 5px 10px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	row-gap: 1px;
	align-items: center;
}

.player-name {
}

.player-goals {
	font-size: 20px;
	text-align: end;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
