/* Smartphones */
.details-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.details-score-container {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.first-team {
	background-color: rgba(0, 150, 255, 0.4);
}

.second-team {
	background-color: rgba(200, 0, 0, 0.4);
}

.team-title {
	font-size: x-large;
	font-weight: 600;
}

.details-goals-container {
	margin-top: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
