/* Smartphones */
.details-container {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	row-gap: 5px;
}

.details-score-container {
}

.details-goals-container {
	margin-top: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
