/* Smartphones */
.score-title {
	font-size: xx-large;
	font-weight: 600;
	text-align: center;
}

.score-teams-score-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 5px;
	text-align: center;
}

.score-first-team {
	background-color: rgba(0, 150, 255, 0.4);
}

.score-second-team {
	background-color: rgba(200, 0, 0, 0.4);
}

.team-score {
	font-size: 70px;
	font-weight: 700;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
