/* Smartphones */
.end-match-button {
	font-size: x-large;
	padding: 10px 50px;
	background-color: darkred;
	border-color: darkred;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.end-match-button {
		font-size: x-large;
		padding: 5px 20px;
	}
}
