/* Smartphones */
.reopen-match-button {
	font-size: x-large;
	padding: 10px 50px;
}

.reopen-match-container {
	text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.reopen-match-button {
		font-size: x-large;
		padding: 5px 20px;
	}
}
