/* Smartphones */
.add-player-button {
	font-size: x-large;
	padding: 10px 50px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.add-player-button {
		font-size: x-large;
		padding: 5px 40px;
	}
}
