/* Smartphones */
.title-container {
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}
.title-button {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.title-container {
		font-size: xx-large;
		font-weight: 600;
		text-align: left;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}

	.title-button {
		text-align: end;
		padding-bottom: 6px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
