/* Smartphones */
.create-match-button {
	font-size: x-large;
	padding: 10px 50px;
}

.create-match-container{
	text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.create-match-button {
		font-size: x-large;
		padding: 5px 20px;
	}
}
