/* Smartphones */

.team-player-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	align-items: center;
	text-align: center;
	min-height: 70px;
	margin-top: 3px;
}

.team-player-button {
	color: black;
	padding: unset;
	border: none;
	box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 100%);
	width: 98%;
	border-radius: 7px;
}

.team-player-name {
	font-size: 22px;
	font-weight: 700;
	margin-left: 5px;
}

.team-player-goals {
	font-size: 20px;
	margin-bottom: 3px;
}

.disabled-true {
	background-color: gray;
	min-height: 35px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
