/* Smartphones */

.teams-title {
	font-size: xx-large;
	font-weight: 600;
	text-align: center;
}

.teams-add-player-button {
	color: black;
	padding: unset;
	border: none;
	box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 100%);
	width: 98%;
	height: 35px;
	margin-top: 5px;
}

.team-add-player-icon {
	font-size: large;
	font-weight: 600;
}

.teams-players-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 5px;
	row-gap: 1px;
	text-align: center;
}

.teams-team-container {
	align-items: start;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	row-gap: 5px;
	height: fit-content;
}

.teams-first-team {
	background-color: rgba(0, 150, 255, 0.4);
}

.teams-second-team {
	background-color: rgba(200, 0, 0, 0.4);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
