/* Smartphones */
.players-actions-modal-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	row-gap: 5px;
	background-color: white;
	box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 100%);
	position: fixed;
	width: 90%;
	height: 85%;
	left: 5%;
	top: 10%;
	overflow-y: auto;
}

.players-actions-title {
	font-size: 34px;
	font-weight: 700;
	line-height: 70px;
	text-align: center;
}

.players-actions-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto auto;
	row-gap: 15px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	overflow-y: auto;
}

.players-actions-add-goal-button {
	height: 100%;
	margin-bottom: 40px;
	box-shadow: 0px 0px 4px 1px rgb(100 100 100 / 100%);
}

.players-add-goal-text {
	font-size: 32px;
	font-weight: 700;
}

.players-actions-text {
	font-size: 25px;
	font-weight: 700;
}

.players-actions-cancel {
	text-align: center;
}

.players-actions-cancel-button {
	font-size: x-large;
	padding: 10px 50px;
	background-color: darkred;
	border-color: darkred;
	margin-top: 20px;
	margin-bottom: 25px;
	width: 70%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
