/* Smartphones */
.players-list-modal-container {
	background-color: white;
	box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 100%);
	display: block;
	position: fixed;
	width: 90%;
	height: 85%;
	left: 5%;
	top: 10%;
}

.players-list-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	row-gap: 5px;
	text-align: center;
	box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 100%);
	/* border: 1px solid black; */
	margin: 10px;
	padding: 10px;
	height: 73%;
	overflow-y: auto;
}

.players-list-title {
	font-size: 34px;
	font-weight: 700;
	line-height: 70px;
	text-align: center;
}

.players-list-player-name {
	font-size: 25px;
	font-weight: 700;
}

.players-list-cancel {
	text-align: center;
}

.players-list-cancel-button {
	font-size: x-large;
	padding: 10px 50px;
	background-color: darkred;
	border-color: darkred;
	margin-top: 25px;
	width: 70%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
